@*<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">Bize Ulaşın</h6>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span> Mvc Proje Oteli, Balıkesir, TR.
                            </p>
                        </li>
                        <li><a href="tel:+7-800-999-800"><span class="fa fa-phone"></span> +(90)-555-444-2233</a></li>
                        <li>
                            <a href="mailto:hotels@mail.com" class="mail">
                                <span class="fa fa-envelope-open-o"></span>
                                hotelmcvproje@mail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Site Haritası</h6>
                        <li><a href="index.html">Anasayfa</a></li>
                        <li><a href="about.html">Otel Hakkında</a></li>
                        <li><a href="#blogposts">Hizmetlerimiz</a></li>
                        <li><a href="contact.html">Bize Ulaşın</a></li>
                        <li><a href="contact.html">Rezervasyon Yap</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">İstatistikler</h6>
                    <div class="footer-post mb-4">
                        <a href="#url">Toplam Boş Oda Sayısı</a>
                        <p class="small"><span class="fa fa-clock-o"></span> 34</p>
                    </div>
                    <div class="footer-post">
                        <a href="#url">Dolu Oda Sayısı</a>
                        <p class="small"><span class="fa fa-clock-o"></span> 21</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Mail Bülteni </h6>
                    <p>
                        Mail adresinizi sistemimize kayıt ederek indirimli tatil fiyatlarından ve paket avantajlarımızdan faydalanabilirsiniz.
                    </p>

                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Mail adresinizi giriniz" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>*@