<section class="w3l-footer-29-main">
    <div class="footer-29 py-5">
        <div class="container py-lg-4">
            <div class="row footer-top-29">
                <div class="col-lg-3 col-md-6 col-sm-8 footer-list-29 footer-1">
                    <h6 class="footer-title-29">Bize Ulaşın</h6>
                    <ul>
                        <li>
                            <p>
                                <span class="fa fa-map-marker"></span> Vacances Otel, Balıkesir & Ayvalık, TR.
                            </p>
                        </li>
                        <li>
                            <a href="tel:+905373722267"><span class="fa fa-phone"></span> +90 (537) 372 22 67</a>
                        </li>
                        <li>
                            <a href="mailto:orctrn194@gmail.com"=  class="mail">
                                <span class="fa fa-envelope-open-o"></span>
                                vacancesotel@mail.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-4 footer-list-29 footer-2 mt-sm-0 mt-5">

                    <ul>
                        <h6 class="footer-title-29">Site Haritasi</h6>
                        <li><a href="/AnaSayfa/Index/">Anasayfa</a></li>
                        <li><a href="/Default/Hakkimda">Hakkımızda</a></li>
                        <li><a href="/Hizmetler/Hizmet">Hizmetlerimiz</a></li>
                        <li><a href="/Iletisim/Index/">Bize Ulaşın</a></li>
                        <li><a href="/Rezervasyon/Index/">Rezervasyon Yap</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-5 footer-list-29 footer-3 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">İstatistikler</h6>
                    <div class="footer-post mb-4">
                        <a href="#url">Toplam Boş Oda</a>
                        <p class="small"><span class="fa fa-clock-o"></span> @ViewBag.b</p>
                    </div>
                    <div class="footer-post">
                        <a href="#url">Toplam Dolu Oda</a>
                        <p class="small"><span class="fa fa-clock-o"></span> @ViewBag.d</p>
                    </div>

                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 footer-list-29 footer-4 mt-lg-0 mt-5">
                    <h6 class="footer-title-29">Mail Bülteni </h6>
                    <p>
                        Mail adresinizi sistemimize kayıt ederek indirimli tatil fiyatlarından ve paket avantajlarımızdan haberdar olabilirsiniz.
                    </p>
                    <form action="#" class="subscribe" method="post">
                        <input type="email" name="email" placeholder="Mail Adresinizi Giriniz" required="">
                        <button><span class="fa fa-envelope-o"></span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
