<section class="w3l-testimonials">
    <!-- main-slider -->
    <div class="testimonials py-5">
        <div class="container text-center py-lg-3">
            <div class="heading text-center mx-auto">
                <h3 class="title-big text-center">Referanslarımız</h3>
            </div>
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <div class="owl-testimonial owl-carousel owl-theme">
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/Tibet.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    "Otelimizde geçirdiğimiz zaman boyunca harika bir deneyim yaşadık. Otel personelinin samimiyeti ve misafirperverliği gerçekten etkileyiciydi. Her detayın özenle düşünüldüğünü görmek bizi mutlu etti. Kesinlikle tekrar ziyaret edeceğiz."
                                </div>
                                <div class="name">- Tibet</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/Melis.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    "Oteliniz, sakin ve huzurlu bir konaklama deneyimi sunuyor. Doğanın içinde huzur bulmak isteyenler için ideal bir seçenek. Temizlik ve hijyen konusunda da mükemmel bir performans sergileniyor. Burada geçirdiğimiz zamanı çok keyifli bulduk."
                                </div>
                                <div class="name">- Melis</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/Aleyna.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    "Otelinizin konumu harikaydı ve sunduğu hizmetlerden çok memnun kaldık. Yemekler lezzetliydi ve odalar çok konforluydu. Özellikle, otel personelinin güler yüzlü ve yardımsever tutumu bizi etkiledi. Kesinlikle tekrar ziyaret etmeyi düşünüyoruz."
                                </div>
                                <div class="name">- Aleyna</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/Mert.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    "Otelinizde geçirdiğimiz zaman unutulmazdı. Konforlu odalar, lezzetli yemekler ve mükemmel hizmet... Her şey mükemmeldi. Otel personeli, bizi evimizde hissettirmek için ellerinden geleni yaptı. Kesinlikle tavsiye ederim."
                                </div>
                                <div class="name">- Mert</div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="slider-info mt-lg-4 mt-3">
                                <div class="img-circle">
                                    <img src="~/hotels-starter/assets/images/Dilara.jpg" class="img-fluid rounded" alt="client image">
                                </div>
                                <div class="message">
                                    "Muhteşem bir konaklama deneyimi yaşadım! Personel harikaydı, odalar temiz ve konforluydu, manzara nefes kesiciydi. Kesinlikle tekrar ziyaret edeceğim!"
                                </div>
                                <div class="name">- Dilara</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main-slider -->
</section>