
@{
    ViewBag.Title = "Hizmet";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<html lang="en">
<body>
    <section class="w3l-breadcrumb">
        <div class="breadcrum-bg py-sm-5 py-4">
            <div class="container py-lg-3">

                <h2>Hizmetlerimiz</h2>
                <p><a href="/AnaSayfa/Index">Anasayfa</a> &nbsp; / &nbsp; Hizmetlerimiz</p>

            </div>
        </div>
    </section>
    <!--  services section -->
    <section class="w3l-servicesblock1" id="service">
        <div class="features-with-17_sur py-5">
            <div class="container py-lg-5 py-sm-4">
                <div class="features-with-17-top_sur">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 align-self">
                            <h3 class="title-small">Vacances Otel</h3>
                            <p>
                                Bütün odalarımız mini buzdolabı, TV, Wi-Fi, sıcak su, kişisel dolap ve klima gibi bileşenlerin tamamı bulunmaktadır. 7/24 hizmetlerimizden faydalanabilirsiz.
                            </p>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-md-0 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Spor Alanı</h5>
                                    <h6><a href="#url">Yüzme Havuzu</a></h6>
                                    <p>
                                        Yetişkinler ve çocuklar için yüzme havuzu hizmetlerimiz yer almaktadır. 7/24 faydalanabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-lg-0 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-beer" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Yiyecek & İçecek</h5>
                                    <h6><a href="#url">Restoran ve Bar</a></h6>
                                    <p>
                                        Restoranımız saat 08:00-23:30 arası, barımız 10:00-02:00 arası hizmet vermektedir.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-wifi" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Accommodation</h5>
                                    <h6><a href="#url">Süper Hızlı WiFi</a> </h6>
                                    <p>
                                        Fiber alt yapımızla siz değerli misafirlerimize size 7/24 en hızlı interneti sunuyoruz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-bed" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Rahatlayın & Gevşeyin</h5>
                                    <h6><a href="#url">SPA & Sauna</a> </h6>
                                    <p>
                                        7/24 sıcak su hizmetiyle otelimizde SPA ve Sauna'dan faydalanabilirsiniz.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 mt-sm-5 mt-4">
                            <div class="features-with-17-right-tp_sur">
                                <div class="features-with-17-left1">
                                    <span class="fa fa-headphones" aria-hidden="true"></span>
                                </div>
                                <div class="features-with-17-left2">
                                    <h5>Güvenli ve Korunaklı</h5>
                                    <h6><a href="#url">Personel 7/24 Hizmetinizde</a></h6>
                                    <p>
                                        Misafir güvenliği bizim önceliğimizdir. Personelimiz 7/24 hizmetinizdedir ve her an hazır bulunmaktadır. Huzurunuz için gerekli tüm önlemleri aldık.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="w3l-stats">
        <div class="main-w3 py-5">
            <div class="container py-lg-3">
                <div class="row align-items-center">
                    <div class="col-md-6 title">
                        <h3 class="title-big">Otelimizin Tesisleri</h3>
                        <img src="~/hotels-starter/assets/images/facilities.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-6 main-cont-wthree-fea text-center">
                        <div class="row">
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-television"></span>
                                    <h3 class="title-spe">Tv</h3>
                                    <p> Uydu</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-motorcycle"></span>
                                    <h3 class="title-spe">Bisiklet</h3>
                                    <p>Ücretsiz Kiralama</p>
                                </div>
                            </div>
                            <div class="col-6 pr-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-cutlery"></span>
                                    <h3 class="title-spe">Yemek</h3>
                                    <p>Açık Büfe</p>
                                </div>
                            </div>
                            <div class="col-6 pl-2 mt-4">
                                <div class="grids-speci1">
                                    <span class="fa fa-bed"></span>
                                    <h3 class="title-spe">Yatak</h3>
                                    <p>Tam Konfor</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="w3l-feature-2">
        <div class="grid top-bottom py-5">
            <div class="container py-md-5">
                <h3 class="title-big text-center">Odalarımız estetik bir şekilde dizayn edildi.</h3>
                <div class="middle-section row mt-lg-5 pt-md-3">
                    <div class="three-grids-columns col-lg-4 col-md-6">
                        <img src="~/hotels-starter/assets/images/slide1.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4><a href="#url"> Restoran ve Bar</a></h4>
                            <p>
                                Restoranımız saat 08:00-23:30 arası, barımız 10:00-02:00 arası hizmet vermektedir.
                            </p>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-md-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide2.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Toplantılar </a></h4>
                            <p>
                                Kurumsal müşterinizi için sizlere sunduğumuz yemekli ve içecekli toplantı etkinliklerini birlikte planlayabiliriz.
                            </p>
                        </div>
                    </div>
                    <div class="three-grids-columns col-lg-4 col-md-6 mt-lg-0 mt-4">
                        <img src="~/hotels-starter/assets/images/slide3.jpg" alt="" class="img-fluid">
                        <div class="info">
                            <h4> <a href="#url"> Spa and Sauna </a></h4>
                            <p>
                                7/24 sıcak su hizmetiyle otelimizde SPA ve Sauna'dan faydalanabilirsiniz.
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>
</html>
