@using OtelMvcProje.Models.Entitiy
@model List<TblOnRezervasyon>

@{
    ViewBag.Title = "Rezervasyonlarim";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}

<h1>Rezervasyonlarım</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Misafir Ad Soyad</th>
        <th>Giriş Tarihi</th>
        <th>Çıkış Tarihi</th>
        <th>Kişi</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.AdSoyad</td>
            <td>@(((DateTime)item.GirisTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@(((DateTime)item.CikisTarihi).ToString("dd-MMM-yyyy"))</td>
            <td>@item.Kisi</td>
            <td><a href="#" class="btn btn-primary">Detaylar</a></td>
        </tr>
    }
</table>