@model OtelMvcProje.Models.Entitiy.TblMesaj

<div class="map-content-9 mt-lg-0 mt-4">
    <form method="post">
        <div class="twice-two">
            <input type="text" class="form-control" name="Gonderen" placeholder="Ad Soyad" required="">
            <input type="email" class="form-control" name="Mail" placeholder="Mail Adresi" required="">
        </div>
        <div class="twice">
            <input type="text" class="form-control" name="Konu" placeholder="Konu" required="">
        </div>
        <textarea name="Mesaj" class="form-control" placeholder="Mesaj" required=""></textarea>
        <button type="submit" class="btn btn-contact">Mesajı Gönder</button>
    </form>
</div>