
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_OtelVitrin.cshtml";
}

<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<html lang="en">
<body>
    <!-- main-slider -->
    <section class="w3l-main-slider" id="home">
        <div class="companies20-content">
            <div class="owl-one owl-carousel owl-theme">
                <div class="item">
                    <li>
                        <div class="slider-info banner-view bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Egenin kalbinde denize sıfır doğayla iç içe bir tatil mekanı.
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info  banner-view banner-top1 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>Hayal ettiğinizden çok daha fazlası için hemen rezervasyon yapın.</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top2 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>
                                            Termal havuz, spa merkezi, su parkları ve deneyimli ekibimizle hizmetinizdeyiz.
                                        </h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
                <div class="item">
                    <li>
                        <div class="slider-info banner-view banner-top3 bg bg2">
                            <div class="banner-info">
                                <div class="container">
                                    <div class="banner-info-bg">
                                        <h5>7/24 Servis hizmeti ve uygun fiyatlarla konforlu bir tatilin tadını çıkarın.</h5>
                                        <a class="btn btn-style transparent-btn mt-sm-5 mt-4" href="/Hizmetler/Hizmet">
                                            Hizmetlerimiz
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </section>
    <!-- /main-slider -->
    <!-- //w3l-availability-form-section -->
    <!-- about -->
    <section class="w3l-about py-5">
        <div class="container py-sm-4">
            <div class="row">
                <div class="col-lg-6 about-left mb-md-0 mb-5">
                    <h3 class="title-big">Otelimizde Rahatlamanın Konforunu Yaşayın</h3>
                    <h5>Müşterilerimiz bizim misafirlerimizdir.</h5>
                    <p class="mt-3">
                        Müşterilerimiz bizim için çok değerli ve önceliğimizdir. Onların memnuniyeti ve konforu, işimizin merkezinde yer alır. Her bir misafirimizi en iyi şekilde ağırlamak için elimizden geleni yapıyoruz. Geniş havuzlarımız, lüks termal spa olanaklarımız, çocuklar için eğlenceli oyun alanları ve heyecan verici su parkı gibi birçok imkan sunarak, misafirlerimize unutulmaz bir konaklama deneyimi yaşatmayı hedefliyoruz. Kaliteli hizmetimiz ve sıcak atmosferimizle, her bir müşterimizin ziyaretini unutulmaz kılmak için çalışıyoruz.
                    </p>
                    <a href="/Hizmetler/Hizmet" class="btn btn-style btn-primary mt-sm-5 mt-4">Hakkımızda Bilgi Edinin</a>
                </div>
                <div class="col-lg-6 about-right position-relative mt-lg-0 mt-5">
                    <img src="~/hotels-starter/assets/images/top.jpg" alt="" class="img-fluid img-border mt-4" />
                    <img src="~/hotels-starter/assets/images/bottom.jpg" alt="" class="img-fluid position-absolute img-position" />
                </div>
            </div>
        </div>
    </section>
    <!-- //about -->
    <div class="best-rooms py-5">
        <div class="container py-lg-5 py-sm-4">
            <h3 class="title-big text-center">En İyi Odalarımız</h3>
            <div class="ban-content-inf row py-lg-3">
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily">
                            <img class="img-fluid" src="~/hotels-starter/assets/images/room1.jpg" alt="">
                            <figcaption class="w3set-hny">
                                <div>
                                    <h4 class="top-text">
                                        Mvc Proje Oteli
                                        <span>Huzurlu bir konaklama yeri</span>
                                    </h4>
                                    <p>1500₺ den başlayan fiyatlar </p>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="room-info">
                            <h3 class="room-title"><a href="room-single.html">Mvc Proje Oteli</a></h3>
                            <ul class="mb-3">
                                <li><span class="fa fa-users"></span>2 Kişi</li>
                                <li><span class="fa fa-bed"></span>Çift Kişilil Yatak</li>
                                <li><span class="fa fa-bed"></span> 25m²</li>
                            </ul>
                            <p>
                                En güzel odalarımızdan birinde, yeşilin ve mavinin mükemmel uyumuna sahip bir manzarayla uyanmak ister misiniz?
                            </p>
                            <a href="/Rezervasyon/Index" class="btn btn-style btn-primary mt-sm-4 mt-3">Rezervasyon Yap</a>
                        </div>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room2.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Aile <span> Odalar</span></h4>
                                            <p>3000₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room3.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>İki Kişilik <span> Odalar</span></h4>
                                            <p>2500₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room4.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Tek Kişilik <span> Odalar</span></h4>
                                            <p>1500₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/hotels-starter/assets/images/room5.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>Balayı <span> Odaları</span></h4>
                                            <p>3500₺ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="w3l-index3">
        <div class="midd-w3 py-5">
            <div class="container py-lg-5 py-md-3">
                <div class="row">
                    <div class="col-lg-6 left-wthree-img text-righ">
                        <div class="position-relative">
                            <img src="~/hotels-starter/assets/images/videobg.jpg" alt="" class="img-fluid" />
                            <a href="#small-dialog" class="popup-with-zoom-anim play-view text-center position-absolute">
                                <span class="video-play-icon">
                                    <span class="fa fa-play"></span>
                                </span>
                            </a>
                            <!-- dialog itself, mfp-hide class is required to make dialog hidden -->
                            <div id="small-dialog" class="zoom-anim-dialog mfp-hide">
                                <iframe src="https://player.vimeo.com/video/246941769" allow="autoplay; fullscreen" allowfullscreen=""></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-lg-0 mt-5 about-right-faq align-self">
                        <h6>Lokasyonlarımızı Keşfedin</h6>
                        <h3 class="title-big">20 Yıllık Otel ve Tatil Köyü Tecrübesi</h3>
                        <p class="mt-3">
                            Muğla, Antalya, Balıkesir ve Trabzondaki otellerimizle siz değerli müşterilerimize hizmet vermeye devam ediyoruz.
                        </p>
                        <ul class="w3l-right-book mt-4">
                            <li><span class="fa fa-check" aria-hidden="true"></span>Tüm müşterilerimiz için en iyisini yapıyoruz</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>7/24 Servsi ve Sıcak Su</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Lüks oteller ve en iyi tatil köyleri</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Çift kişilik odalar ve aile odaları</li>
                            <li><span class="fa fa-check" aria-hidden="true"></span>Lüks bir deneyimin tadını çıkarın</li>
                        </ul>
                        <a href="/Rezervasyon/Index" class="btn btn-style btn-primary mt-4">Rezervasyon Yap</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- quotation -->
    <div class="quotation py-5">
        <div class="container py-xl-5 py-lg-3">
            <div class="welcome-left text-center py-md-5 py-3">
                <h3>Lüks bir deneyimin keyfini çıkarın. Konumlarımızı keşfedin. Rahatlayın ve tatilinizin tadını çıkarın.</h3>
                <a href="/Rezervasyon/Index" class="btn btn-style transparent-btn mt-sm-5 mt-4 mr-2">Rezervasyon Yap</a>
                <a href="/Iletisim/Index" class="btn btn-style btn-primary mt-sm-5 mt-4">Bize ulaşın</a>
            </div>
        </div>
    </div>
    <!-- //quotation -->
    <section class="w3l-logos py-5">
        <div class="container py-lg-3">
            <div class="row">
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                    <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view">
                    <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-sm-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo3.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-md-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo4.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo2.jpg" alt="company-logo" class="img-fluid" />
                </div>
                <div class="col-lg-2 col-md-3 col-sm-4 col-6 logo-view mt-lg-0 mt-4">
                    <img src="~/hotels-starter/assets/images/logo1.jpg" alt="company-logo" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>

</body>
</html>

